@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800;900&display=swap');

:root {
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 2rem;

    --default-width: 85%;
    --default-max-width: 75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}