@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

:root {
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 3rem;

    --default-width: 94%;
    --default-max-width: 82rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

a,
a * {
    letter-spacing: -.04em;
    font-weight: 500;
}

p {
    letter-spacing: normal;
    font-weight: 500;
    letter-spacing: -.055em;
    line-height: 110%;
}

ul {
    list-style: none;
}

#menu.show {
    right: 0 !important;
}

.welcome p a {
    text-decoration: underline;
}

.banner-content>div::before {
    content: url("/sparkle.svg");
    position: relative;
    top: 4px;
}