@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

:root {
    --welcome-delay: .3s;
    --span-shift-animation: var(--welcome-delay) span-shift forwards;
    --span-before-shift-animation: var(--welcome-delay) span-before-shift forwards;
    --shift-animation: var(--welcome-delay) shift forwards;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.card .shadowText {
    left: 0;
    top: .03em;
    animation: var(--span-shift-animation);
    animation-delay: calc(var(--welcome-delay)*4);
}

.card .shadowText::before {
    left: 0;
    top: 0;
    animation: var(--span-before-shift-animation);
    animation-delay: calc(var(--welcome-delay)*4);
}

.card .inner-card {
    animation: var(--shift-animation) calc(var(--welcome-delay)*4), 1s var(--welcome-delay) show-border forwards;
}

.card .status {
    opacity: 0;
    animation: 1s var(--welcome-delay) show forwards;
}

@keyframes span-shift {
    from {
        left: 0;
        top: .03em;
    }

    to {
        left: -0.1em;
        top: -0.05em;
    }
}

@keyframes span-before-shift {
    from {
        left: 0;
        top: 0;
    }

    to {
        left: 0.1em;
        top: 0.08em;
    }
}

@keyframes shift {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(-16px, -16px);
    }
}

@keyframes show-border {
    from {
        border: 6px solid #20202000;
    }

    to {
        border: 6px solid #202020;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}